openapi: 3.1.0
info:
  title: Proton Call Notes Leads API
  version: 1.0.0
  description: The Proton API is an AI-powered suite of REST endpoints for product recommendations and CRM actions (customers, contacts, opportunities, quotes, leads, call notes, tasks, tracking) for B2B distributors. Requests require a static API key in the X-Api-Key header, supplied by Proton at the start of an integration. Derived by API Evangelist from the provider's published public Postman documentation at https://api.proton.ai/.
  contact:
    name: Proton.ai
    url: https://www.proton.ai/
servers:
- url: https://api.proton.ai
  description: 'Production (tenant path: /{company}/...)'
security:
- ApiKeyAuth: []
tags:
- name: Leads
paths:
  /{company}/v1/leads/search:
    post:
      operationId: searchLeadsV1
      summary: Search Leads V1
      tags:
      - Leads
      description: "Lead Search API v1\nOverview\nThe Lead Search API v1 endpoint allows you to search for leads within a specific company using a query string and advanced filtering options. This endpoint supports various search operators for flexible and precise lead searches. Leads represent potential customers in your sales pipeline with tracking for stages, sources, and conversion activities.\nEndpoint\nMethod: POSTURL: {{domain}}/{{company}}/v1/leads/search\nRequest Format\nRequest Body Structure\n{\n    \"query\": \"st"
      parameters:
      - name: company
        in: path
        required: true
        schema:
          type: string
      - name: X-User-Id
        in: header
        required: false
        schema:
          type: string
        description: Acting user id
      - name: X-Company
        in: header
        required: true
        schema:
          type: string
        description: Tenant company slug
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /{company}/v1/leads/stages:
    get:
      operationId: getLeadStagesV1
      summary: Get Lead Stages V1
      tags:
      - Leads
      description: 'Get Lead Stages API v1

        Overview

        The Get Lead Stages API v1 endpoint returns the lead pipeline stages configured for a company, in pipeline order. Each stage carries a stable stage_id, a human-readable stage_name, and a stage_status lifecycle marker. Use a stage''s stage_id as the lead_stage value when creating a lead via POST /v1/leads. If a company has no custom pipeline configured, a default set of stages is returned.

        Endpoint

        Method: GETURL: {{domain}}/{{company}}/v1/leads/stages

        Path Paramete'
      parameters:
      - name: company
        in: path
        required: true
        schema:
          type: string
      - name: X-User-Id
        in: header
        required: false
        schema:
          type: string
        description: Acting user id
      - name: X-Company
        in: header
        required: true
        schema:
          type: string
        description: Tenant company slug
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /{company}/v1/leads:
    post:
      operationId: createLeadV1
      summary: Create Lead V1
      tags:
      - Leads
      description: 'Create Lead API v1

        Overview

        The Create Lead API v1 endpoint allows you to create a new lead within a specific company. A lead represents a prospective account your sales team is pursuing. Creating a lead does several things in one call: the lead appears in the Leads pipeline, a contact is created from the contact fields, and a follow-up task is created for each assigned representative. The endpoint validates that lead_stage is a configured pipeline stage before creating the record.

        Endpoint

        Meth'
      parameters:
      - name: company
        in: path
        required: true
        schema:
          type: string
      - name: X-User-Id
        in: header
        required: false
        schema:
          type: string
        description: Acting user id
      - name: X-Company
        in: header
        required: true
        schema:
          type: string
        description: Tenant company slug
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Static API key supplied by Proton at integration onboarding.
