openapi: 3.1.0
info:
  title: Proton Call Notes Search API
  version: 1.0.0
  description: The Proton API is an AI-powered suite of REST endpoints for product recommendations and CRM actions (customers, contacts, opportunities, quotes, leads, call notes, tasks, tracking) for B2B distributors. Requests require a static API key in the X-Api-Key header, supplied by Proton at the start of an integration. Derived by API Evangelist from the provider's published public Postman documentation at https://api.proton.ai/.
  contact:
    name: Proton.ai
    url: https://www.proton.ai/
servers:
- url: https://api.proton.ai
  description: 'Production (tenant path: /{company}/...)'
security:
- ApiKeyAuth: []
tags:
- name: Search
paths:
  /{company}/v1/search/customer-contact:
    get:
      operationId: searchContactByPhoneV1
      summary: Search Contact by phone V1
      tags:
      - Search
      description: 'Search Customer &amp; Contact by Phone API v1

        Overview

        The Search Customer &amp; Contact API v1 endpoint finds customers and contacts within a company by phone number. It searches both customer records and contact records for the supplied number and returns each match as a customer/contact pair. Results are access-controlled: unless the requesting user has all-access, matches are restricted to the account groups the user belongs to. This endpoint is typically used to identify the account and con'
      parameters:
      - name: company
        in: path
        required: true
        schema:
          type: string
      - name: X-User-Id
        in: header
        required: false
        schema:
          type: string
        description: Acting user id
      - name: X-Company
        in: header
        required: true
        schema:
          type: string
        description: Tenant company slug
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Static API key supplied by Proton at integration onboarding.
